
.jumbotron  
  %h1.center This is where a carousel with most recent/popular articles goes

-if !user_signed_in? && !admin_signed_in?
  =link_to("Admin Log In", new_admin_session_path, class: "btn btn-danger",)
-elsif user_signed_in?
  =link_to("Sign Out", destroy_user_session_path, class: "btn btn-primary", :method => :delete)
-elsif admin_signed_in?
  =link_to("Admin Sign Out", destroy_admin_session_path, class: "btn btn-danger", :method => :delete)


