-provide(:title, "Update Your Info")

%h1 Finish your profile
%p Placeholder text for Finish Signup page
%p This will have a form to update email, create password, password confirmation, and username/screenname